<div class="cart-container">
    <h2>Cart</h2>
    <div *ngIf="cart.length === 0" class="empty-cart-message">
      <p>Your cart is empty. Add some items!</p>
    </div>
    <div *ngIf="cart.length > 0">
      <div *ngFor="let item of cart" class="cart-item">
        <div class="item-info">
          <h3>{{ item.name }}</h3>
          <p>Price: {{ item.price }}MAD</p>
          <p>Quantity: 
            <button (click)="decreaseQuantity(item.id)" [disabled]="item.quantity === 1">-</button>
            {{ item.quantity }}
            <button (click)="increaseQuantity(item.id)">+</button>
          </p>
          <p>Total: {{ item.price * item.quantity}}MAD</p>
        </div>
        <button (click)="removeFromCart(item.id)">Remove</button>
      </div>
      <div class="cart-total">
        <p>Total Price: {{ totalPrice }}MAD</p>
      </div>
      <button (click)="clearCart()" class="clear-cart-button">Clear Cart</button>
    </div>
  </div>
  